@import url('https://fonts.cdnfonts.com/css/lcd');

.display {
    font-family: 'LCD', sans-serif;
    font-size: 4em;
    font-weight: 700;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    text-align: right;
}