h1.popup {
    font-size: 2em;
    text-align: center;
}

h2.popup {
    font-size: 5em;
    font-family: 'LCD';
    text-align: center;
    color: darkgreen;
    padding: 5%;
    vertical-align: middle;
    line-height: 1em;
}